@import '~iview/src/styles/index.less';

@menu-dark-title: #001529;
@menu-dark-active-bg: #000c17;
@layout-sider-background: #001529;

// 新增按钮的位置
.loc {
  position: absolute;
  right: 17px;
  top: 16px;
}
.clearfix:after{
  /*添加一个内容*/
  content: "";
  /*转换一个块元素*/
  display: block;
  /*清除两侧浮动*/
  clear: both;
}
/*
 * 在IE6中不支持after伪类，还需hasLayout解决问题
 */
.clearfix{
  zoom : 1;
}
